body {
    font-family: 'Times New Roman', Times, serif;
    color: mediumseagreen;
}

header {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
    font-size: 30px;
}

.main-section {
    max-width: 640px;
    margin:0 auto;
    border: 1px solid green;
    border-radius: 5px;
    background-color: MediumSeaGreen;
    color: white;
}

.container {
    padding: 5px;
    border-radius: 5px;
    background-color: white;
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;
    color: mediumseagreen;
}

.value {
    background-color: orange;
    padding-left:10px;
    padding-right:10px;
    margin-left: 10px;
    color: white;
    border-radius: 5px;
}

.word-section {
    width: 50%;
    margin: 50px auto;
    text-align: center;
    font-size: 20px;
}